<div class="Container-Principal container-fluid">

    <div class="Container-main container">

        <header class="Container-header d-flex justify-content-between pt-4 mb-5 ">
            <img src="assets/Design4/Menu-images/nav-img.png" class="img-fluid">
            <button class="Container-button btn btn-dark border border-none px-5 rounded-5">Free Consultation</button>
        </header>

        <main class="Container-main pt-lg-5 pb-3">
            <h1 class="Container-h1 text-center">Design solutions made easy</h1>
            <p class="Container-p text-center m-auto pt-3">With over ten years of experience in various design
                disciplines, I'm your one-stop shop for you design
                needs</p>
        </main>

        <section class="Container-section1 my-5">
            <div class="Container-row row">

                <div class="Container-img col-12 col-md-6 col-xl-4">
                    <img src="assets/Design4/Menu-images/sect1.png" alt="" class="w-100" style="max-height:25rem">
                </div>

                <div class="col-12 col-md-6 col-xl-4 gy-3 gy-md-0">
                    <div class="row ">
                        <div class="Container-img col-6">
                            <img src="assets/Design4/Menu-images/sect2-1.png" alt="" class="w-100">
                        </div>
                        <div class="Container-img col-6">
                            <img src="assets/Design4/Menu-images/sect2-2.png" alt="" class="w-100">
                        </div>
                        <div class="Container-img col-md-12 gy-3 gy-lg-1">
                            <img src="assets/Design4/Menu-images/set2-3.png" alt="" class="w-100">
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-xl-4 gy-3 gy-md-0">
                    <div class="row ">
                        <div class="Container-img col-md-6 col-xl-12">
                            <img src="assets/Design4/Menu-images/sect3-1.png" alt="" class="w-100"
                                style="max-height:230px">
                        </div>
                        <div class="Container-img col-md-6 col-xl-12 gy-3 gy-xl-1">
                            <img src="assets/Design4/Menu-images/sect3-2.png" alt="" class="w-100">
                        </div>
                    </div>
                </div>

            </div>

        </section>


        <section class="Container-section2 pb-md-5">
            <div class="Container-row row p-lg-5">
                <div class="col-md-6 d-flex m-auto py-2 px-5">
                    <div class="Container-girl overflow-hidden position-relative  m-auto m-lg-0">
                        <img src="assets/Design4/Menu-images/image-remove.png" alt="" class="img-fluid overflow-hidden">
                        <img src="assets/Design4/Menu-images/image-remove3.png" alt=""
                            class="position-absolute start-0">
                        <img src="assets/Design4/Menu-images/image-remove2.png" alt=""
                            class="position-absolute end-0 top-50">
                    </div>

                </div>

                <div class="col-md-6 mt-5 px-5 text-center text-md-start py-3">
                    <h2 class="Container-h2 mt-2  ">I’m Amy, and I’d love to work on your next project</h2>
                    <p class="Container-p mt-4  ">I love working with others to create beautiful design solutions. I’ve
                        designed everything from brand illustrations to complete mobile apps. I’m also handy with a
                        camera!</p>
                    <button class="Container-button btn text-light  px-5 py-3 rounded-5 mt-lg-4 ">Free
                        Consultation</button>
                </div>
            </div>

        </section>



    </div>

    <div class="Container-main2 my-5 overflow-hidden pb-4">

        <h3 class="Container-h3 text-center mb-4">My work</h3>

        <div class="Carrousel m-auto overflow-hidden mb-5">

            <div class="Carrousel-container d-flex flex-row flex-nowrap gap-4 align-items-center justify-content-start px-4"
                #Carrito>
                <img src="assets/Design4/Carrousel/img1.png" alt="Imagen 1" class="Carrousel-img rounded-3">
                <img src="assets/Design4/Carrousel/img2.png" alt="Imagen 1" class="Carrousel-img rounded-3">
                <img src="assets/Design4/Carrousel/img3.png" alt="Imagen 1" class="Carrousel-img rounded-3">
                <img src="assets/Design4/Carrousel/img4.png" alt="Imagen 1" class="Carrousel-img rounded-3">
                <img src="assets/Design4/Carrousel/img5.jpg" alt="Imagen 1" class="Carrousel-img rounded-3">
            </div>


        </div>

        <div class=" mx-auto d-flex justify-content-center align-items-center gap-3 pt-3">
            <button class="Carrousel-button text-light rounded-circle" (click)="retroceder()"><svg
                    xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                </svg></button>
            <button class="Carrousel-button text-light  rounded-circle" (click)="avanzar()"><svg
                    xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg></button>
        </div>

    </div>

    <div class="Container-section3 container mt-5 rounded-3 p-5">
        <div class="Container-row row p-3">
            <div class="col-md-6">
                <h3 class="Container-h3">Book a call with me</h3>
                <p class="Container-p pt-3" style="color: var(--cream)">I’d love to have a chat to see how I can help
                    you. The best first step is for us to discuss your
                    project during a free consultation. Then we can move forward from there.</p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <button class="Container-button btn text-light px-5 py-3 rounded-5 mt-4">Free Consultation</button>
            </div>
        </div>
    </div>

    <footer class="Container-footer container d-flex justify-content-between my-5 pb-5">
        <img src="assets/Design4/Menu-images/nav-img.png" class="img-fluid">
        <button class="Container-button btn btn-dark border border-none px-5 rounded-5">Free Consultation</button>
    </footer>


</div>
